<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServiceA" />
                <binding name="DelegationService" />
                <binding name="WSHttpBinding_IServiceB" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.157.19.201/mywcfservice/Service1.svc"
                behaviorConfiguration="WcfTestBehavior" binding="wsHttpBinding"
                bindingConfiguration="DelegationService" contract="ServiceReferenceC.IService1"
                name="DelegationService">
                <identity>
                    <servicePrincipalName value="host/ws2.yuray2.lab" />
                </identity>
            </endpoint>
            <endpoint address="http://10.157.19.200/WCF-A/ServiceA.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IServiceA" contract="ServiceReferenceA.IServiceA"
                name="WSHttpBinding_IServiceA">
                <identity>
                    <servicePrincipalName value="HOST/WS1" />
                </identity>
            </endpoint>
            <endpoint address="http://10.157.19.200/WCF-B/ServiceB.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IServiceB" contract="ServiceReferenceB.IServiceB"
                name="WSHttpBinding_IServiceB">
                <identity>
                    <servicePrincipalName value="HOST/WS1" />
                </identity>
            </endpoint>
        </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="WcfTestBehavior">
            <clientCredentials>
              <windows allowNtlm="false" allowedImpersonationLevel="Delegation"/>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>